.search{
    width: 70%;
    height: 70px;
    background-color: black;
    border-radius: 50px;
    left: 15%;
    top: 500px;
    position:absolute;
    bottom: 208px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: flex;
    justify-content:space-around;
    align-items: center; */
    cursor: pointer;
}
.contents{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search .loc{
    height: 90%;
    width: 20%;
    border-right: 1px solid rgb(146, 146, 146);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 10px;

}
.place{
        height: 90%;
        width: 20%;
        border-right: 1px solid rgb(146, 146, 146);
        display: flex;
        align-items: center;
        justify-content: space-around;
    font-size: 10px;

}
.nationality{
    height: 90%;
    width: 20%;
    border-right: 1px solid rgb(146, 146, 146);
    display: flex;
    align-items: center;
    justify-content: space-around;  
    font-size: 10px;

}
.guest{
    height: 90%;
    width: 20%;
    border-right: 1px solid rgb(146, 146, 146);
    display: flex;
    align-items: center;
    justify-content: space-around; 
    font-size: 10px;

}
.text{
    color: rgb(132, 132, 222);
}
.text:hover{
    color: orange;
}
.lastText{
    font-size: 15px;
}
.search .guest{
    border: none;
}

.icons{
  font-size: 30px;
}
.loc {
    border:none;
}
.searchBtn{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 25px;
    color: white;
}
.mainDiv{
  
    width: 50%;
    height: 70px;
    margin: auto;
   
}